# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Galaxy Chess.iml
# Datasource local storage ignored files
/../../../../../../../:\Projekty\Unity Projects\Galaxy Chess\.idea\.idea.Galaxy Chess\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
